/*navigation bar*/
.navbar {
	display: flex;
	flex-wrap: nowrap;
	background: white;
	align-items: center;
	height: 50px;
	position: fixed;
	top: 0;
  	left: 0;
  	right: 0;
}

/*Left Navbar*/
#left {
	display: flex;
	justify-content: flex-start;
	width: 33.33%;
	margin-left: 10px;
}

/*Center Navbar*/
#center {
	display: flex;
	justify-content: center;
	width: 33.33%;
	height: 30px;
}

/*Right Navbar*/
#right {
	display: flex;
	justify-content: flex-end;
	width: 33.33%;
	margin-right: 20px;
}

/*Images*/
img {
}

/*Navbar Youtube logo*/
#youtube_logo {
	width: 90px;
	height: 90px;
	padding-left: 10px;
}

/*Searchbar*/
#searchbar {
	width: 600px;
	height: 30px;
	margin-right: 0;
}

/*Search Button*/
#button {
/*	height: 30px;
	margin-top: 5px;*/
	margin-left: 0;
}

/*Navbar user*/
#navbar_user {
	width: 30px;
	height: 30px;
}

/*Need to increase the padding in the right navbar section and then proceed to the video*/